:host {
  display: block;
  cursor: pointer;
}

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie-card__poster {
  position: relative;
  overflow: hidden;
  inline-size: 200px;
  block-size: 300px;
}

.movie-card__favorite {
  position: absolute;
  top: 8px;
  right: 8px;
}

.movie-card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
